body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient(white, black);
}

.descricao > h1 {
    width: 50%;
    margin: 5% 20% 1% 20%;
    display: flex;
}

.descricao > p {
    width: 50%;
    margin: 0% 20% 10%;
}

.mb-4 > a > img {
    width: 50px;
    height: 50px;
}

footer img:hover {
    box-shadow: 8px 2px 8px rgba(82, 82, 82, 0.4);
    border-radius: 100%;

    
}